
<html>
<head>
 <title></title><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" >
 <!--  Linking CSS BootStrap  -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
</body>
<div class="container"></div><center><div class='well'><b>Student Result</b></div></center>
<table class="table .table-bordered">
 <thead>
 <tr>
  <th>ID</th>
  <th>Name</th>
  <th>Rating1</th>
  <th>Rating2</th>
  <th>Rating3</th>
  <th>Rating</th>
  <th>Result</th>
  for (const item in items) {
    td=item.ID
   td=item.Name
   td=item.Rating1
   td=item.Rating2
   td=item.Rating3
   td=item.Rating
   if item.Rating>5
   td="Qualified"
   else
   td="Not Qualified"
  }
 </tr>
 </thead>
</table>
</html>
