*{
    margin: 0;
    padding:0;
}
body {
    background-color: rgb(4, 29, 49);
}
h1
{
    text-align: center;
    text-decoration: underline;
    color: white;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
#Name
{
    width: 20%;
    height:20px;
    padding:5px;
    border-radius: 5%;
    outline:0;
    border:1px solid lightgray;
}
table {
    color: white;
    background-color: rgb(8, 48, 80);
    border-collapse: collapse;
    font-size: 20px;
    font-family: serif;
    padding: 5px;
    border: 5px solid white;
    text-align: -webkit-center;
    height:max-content;
}