a:link, a:visited {
    background-color: #4CAF50;
    color: white;
    width: 82%;
    padding: 14px 20px;
    margin: 8px 0; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transform: translateX(6%);
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #45a049;
}