<html>
<head>
 <title>Results</title>
</head>
<body>
<div class="container">
 <center>
  <div class='well'>
   <b>
    Student Details
   </b>
  </div>
 </center>
 <table>class='table table-striped'</table>
 <thead>
 <tr>
  <th>
   ID
  </th>
  <th>
   Name
  </th>
  <th>
   Rating1
  </th>
  <th>
   Rating2
  </th>
  <th>
   Rating3
  </th>
  <th>
   Rating
  </th>
  each item
 </tr>
 </thead>
</div>
</body>
</html>