@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}
body {

    display: flex;
    align-items: center;
    justify-content:flex-end;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}
section.chat__section {
    /*top: 500px;*/
    width: 250px;
    max-width: 40%;
    background: snow;
    align-self:center;
    top:100px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.brand {
    padding: 20px;
    background: #f1f1f1;
    display: flex;
    align-items:center;
}
.brand h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 10px;
}
.message__area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}
textarea {
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #FBFBFB;
}

.message {
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}
.incoming {
    font-family: "Arial";
    background: aqua;
}
.outgoing {
  font-family: "Arial";
  background: aquamarine;
    margin-left: auto;
}
.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}